/* start varibles */
:root{
    --main-color:#ffff;
    --secondary-color: #2c4755 ;
    --section-padding :  60px;
}
/* start global rules */
* {
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    text-transform: capitalize; 
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: "work sans", sans-serif;
    background:  rgb(24, 22, 22);
    /* height: 100vh;
    width: 100%; */
}
body::after{
    content: '';
    width: 100%;
    height: 100%;
}

.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #878787; */
}

/* small */

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium? */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start severs */
.special-head{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0 ;
}
.special-head + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media(max-wight:767px){
    .special-head{
        font-size: 60px;
    }
    .special-head + p{
        margin: -20px;
    }
}

/* end serves */
/* start head */
.header{
    padding: 20px;
    height: 64px;

}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 100px;
}
.header .link{
    position: relative;
}
.header .link:hover .icon span:nth-child(2){
    width: 100%;
}

.header .link .icon{
    width:30px;
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-end;
}
.header .link .icon span{
    background-color: var(--main-color);
    margin-bottom: 10px;
    height: 3px;

}
.header .link .icon span:first-child{
    width: 100%;
}
.header .link .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .link .icon span:last-child{
    width: 100%;
}
.header .link ul{
    list-style: none;
    background: var(--main-color);
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    border-radius: 8px;
}


.header .link  ul ::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:transparent transparent var(--main-color) transparent;
    position: absolute;
    right: 10px;
    top: -20px;
}
.header .link:hover  ul {
    display: block;
}
.header .link ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.header .link ul li a:hover{
    padding-left:40px;

}
.header .link ul li:not(:last-child) a{
    border-bottom :1px solid #9c9c9c;
}
/* end head */
/* start section */
.lan{
    background-image: url("/img/SavedPictures/download\ \(4\).jpg");
    background-size: cover;
    height: calc(100% - 100px);
    border-radius: 70px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
}
.lan .intro{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50% ,50% );
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.lan .intro h1{
    margin: 0;
    font-weight: bold;
    font-size:50px ;
    color: var(--main-color);
    transition-duration: 0.6s;
    transition-delay: 0.2s;
}
.lan .intro h1:hover{
    letter-spacing: 3px;
    color:#9900ff  ;
}
.lan .intro p{
    font-size: 19px;
    line-height: 1.8;
    color: #e4e3e3;

}
/* end section  */

/* start features */
.feats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    /* background-color: #f6f6f6; */
}
.feats .container{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 20px;
}

.feats .feat{
    padding: 30px ;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 30px;

}

.feats .feat i {
    color:var(--main-color);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
}
.feats .feat i:hover{
    color: red;
    font-size: 60px;
    margin-bottom: 30px;
}
.feats .feat h3{
    color: var(--main-color);
    font-weight: 800;
    margin: 30px 10px;
    transition-delay: 0.1s;
    transition-duration: 0.6s;
}
.feats .feat h3:hover{
    color: #fe6060;
}
.feats .feat p{
    line-height: 1.5;
    color: #eee;
    font-size: 17px;
}
/* end features */
/* start severs */
.serves{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.serves .grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 30px;
    margin-top: 80px;
}

.serves .grid .srv{
   display: flex;
    margin-bottom: 40px;
}

@media(max-wight:767px){
    .serves .grid .srv{
        flex-direction: column;
        text-align: center;
    }
}

.serves .grid .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.serves .grid .srv i:hover{
    color: red;
}

.serves .grid .srv .text{
    flex: 1;
}

.serves .grid .srv h3{
    color: #eee;
   margin: 0 0 20px;
   transition-delay: 0.1s;
   transition-duration: 0.6s;
}

.serves .grid .srv h3:hover{
    color: red;
    letter-spacing: 3px;
    margin-left: 30px;
}

.serves .grid .srv p{
   color: #eee;
   font-weight: 300;
line-height: 1.8;
}
.serves .grid .image {
   text-align: center;
   position: relative;
}
.serves .grid .image::before{
   content: '';
   background-color: var(--secondary-color);
   width: 100px;
   height: calc(100% + 100px);
   top: -50px;
   position: absolute;
   right: 0;
   z-index: -1;
}
.serves .grid .image img{
    width: 260px;
}
@media(max-width : 1199px){
    .colum-img{
        display: none;
    }
}
/* end severs */
/* start profile */
.pro{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pro .grid-pro{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 30px;
    margin-top: 80px;
}
.pro .card{
    background-color: var(--secondary-color);
    border-radius: 40px ;
}
.pro .card img{
    max-width: 100%;
   width: 360px;
   height: 200px;
   border-radius:  40px 40px 0 0;
   transition-delay: 0.1s;
   transition-duration: 0.6s;
   opacity: 0.9;
}
.pro .card img:hover{
    opacity: 1;
}
@media(max-width: 991px){
    .pro .card img{
        max-width: 100%;
        width: 400px;
    }
}

.pro .card .info{
    padding: 20px;
}
.pro .card .info h3{
    margin: 0;
    color: var(--main-color);
    transition-delay: 0.1s;
   transition-duration: 0.6s;
    
}
.pro .card .info h3:hover{
    letter-spacing: 3px;
    margin-left: 30px;
}

.pro .card .info p{
    color: #eee;
    line-height: 1.8;
    margin-bottom: 0;
}

/* end profile */
/* start about */
.about{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .flex-about{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
@media(max-width: 991px){
    .about .flex-about{
        flex-direction: column;
        text-align: center;
    }
}
.about .flex-about .image{
    position: relative;
    width: 200px;
    height: 375px;
}
@media(max-width: 991px){
    .about .flex-about .image{
        margin: 0 auto 60px;
    }
}
.about .flex-about .image::before{
   content: '';
   position: absolute;
   background-color:var(--secondary-color);
   width: 100px;
   height: calc(100% + 80px);
   top: -40px;
   left: -20px;
   z-index: -1;
   
}
.about .flex-about .image::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 270px;
    border-left: 60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -15px;
}
@media(max-width: 991px){
    .about .flex-about .image::before,
    .about .flex-about .image::after{
        display: none;
}
}

.about .flex-about .image img{
    max-width: 100%;
    height: 375px;
    width: 200px;
}
.about .flex-about .text{
    flex-basis:calc(100% - 400px) ;
}
.about .flex-about .text p:first-of-type{
   font-weight: bold;
   line-height: 1.8;
   margin-bottom: 50px;
   color: var(--main-color);
}
.about .flex-about .text hr{
    width: 50%;
    display: inline-block;
    border-color: #eee;

}
.about .flex-about .text p:last-of-type{
    line-height: 2;
    color: #eee;
}
/* end about */
/* contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    display: block;
    color: red;
    font-size: 30px;
    text-decoration: none;
}
.contact .info .social{
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    color: #eee;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
    border-radius: 60%;
    transition-delay: 0.1s;
   transition-duration: 0.6s;
}
.contact .container .info .social :nth-child(1) :hover{
    color:rgb(8, 102, 255);
    font-size: 35px;
}
.contact .container .info .social :nth-child(2) :hover{
    color:rgb(255, 8, 8);
    font-size: 35px;
}
.contact .container .info .social :nth-child(3) :hover{
    color:rgb(8, 102, 255);
    font-size: 35px;
}
.contact .container .info .social :nth-child(4) :hover{
    color : #da0ced ;
    font-size: 35px;
}

@media(max-width: 767px){
    .contact .info .label,
    .contact .info .link
    {
        font-size: 25px;
    }
}
/* end contact */
/* foot */
.foot{
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 17px;
}
.foot span{
    font-weight: bold;
    color: var(--main-color);
}
/* wnd foot */
